<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService2" />
                <binding name="BasicHttpBinding_IService3" />
                <binding name="BasicHttpBinding_IService4" />
                <binding name="BasicHttpBinding_IService5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57219/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="LocalALG1WebService.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:56887/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="LocalALG2WebService.IService"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:56899/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="LocalALG3WebService.IService"
                name="BasicHttpBinding_IService2" />
            <endpoint address="http://at2lb-1045549652.us-east-1.elb.amazonaws.com/ALG1/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
                contract="AwsALG1WebService.IService" name="BasicHttpBinding_IService3" />
            <endpoint address="http://at2lb-1045549652.us-east-1.elb.amazonaws.com/ALG2/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4"
                contract="AwsALG2WebService.IService" name="BasicHttpBinding_IService4" />
            <endpoint address="http://at2lb-1045549652.us-east-1.elb.amazonaws.com/ALG3/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5"
                contract="AwsALG3WebService.IService" name="BasicHttpBinding_IService5" />
        </client>
    </system.serviceModel>
</configuration>